@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Righteous&display=swap');

::-webkit-scrollbar {
  width: 0;
}

body{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
  color: rgba(255,255,255, .99);
  background-color: #000;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Righteous', cursive;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 35px;
}

header{
  margin: 0 5vw 20vh;
}
.row {
  display: flex;
}
#col_1_header{
  flex:40%;
}
#col_2_header{
  display: flex;
  flex: 60%;
  justify-content: flex-end;
}
.site-title, .site-description{
  margin: 0;
  color:#ffffff;
}
.site-description{
  font-size: 15px;
}
.site-logo{
  width: 150px;
  margin-right: 25px;
}
.nav-bar{
  border-bottom: 2px solid #a70000;
}
.nav-items{
  display: flex;
  padding: 0;
  font-size: 20px;
  color:#ffffff;
}
.nav-item{
  display: inline;
  list-style: none;
  float: left;
  margin-right: 20px;
}

.nav-item a{
  text-decoration: none;
  color:#fff;
  transition: 0.3s;
}

.nav-item a:hover{
  color: #a70000;
}
.nav-item:nth-child(5){
  margin: 0;
}

div#carousel {
  perspective: 1200px;  
  font-size:0; 
  margin-bottom: 3rem; 
  overflow: hidden;
}
figure#spinner {
  position: relative;
  transform-style: preserve-3d; 
  height: 400px; 
  transform-origin: 50% 50% -500px; 
  transition: 1s; 
} 
figure#spinner img { 
  width: 40%; max-width: 400px; 
  position: absolute; left: 29vw;
  transform-origin: 50% 50% -500px;
  outline:1px solid transparent; 
}
figure#spinner img:nth-child(1) { transform:rotateY(0deg); 
}
figure#spinner img:nth-child(2) { transform: rotateY(-45deg); }
figure#spinner img:nth-child(3) { transform: rotateY(-90deg); }
figure#spinner img:nth-child(4) { transform: rotateY(-135deg); }
figure#spinner img:nth-child(5){ transform: rotateY(-180deg); }
figure#spinner img:nth-child(6){ transform: rotateY(-225deg); }
figure#spinner img:nth-child(7){ transform: rotateY(-270deg); }
figure#spinner img:nth-child(8){ transform: rotateY(-315deg); }

div#carousel span:nth-child(2) {
  position: absolute;
  top: 50%;
  left: 5%;
  font-size: 2rem;
  transform: translate(50%, 50%);
}

div#carousel span:nth-child(3) {
  position: absolute;
  top: 50%;
  left: 93%;
  font-size: 2rem;
  transform: translate(50%, 50%);
}
div#carousel span:hover { color: #888; cursor: pointer; }