header{
    margin: 0 7vw;
}
.row {
    display: flex;
}
.col_1{
    flex:30%;
}
.col_2{
    flex: 70%;
}
.site-logo{
    width: 150px;
    margin-right: 25px;
}
.nav-items{
    display: flex;
    justify-content: flex-end;
    padding: 0;
}
.nav-item{
    display: inline;
    list-style: none;
    margin-left: 15px;
}