@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Righteous&display=swap');
body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Righteous', cursive;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
header{
    position: relative;
}
header > .row{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    width: 90%;
}
.row {
    display: flex;
}
#col_1_header{
    flex:40%;
}
#col_2_header{
    display: flex;
    flex: 60%;
    justify-content: flex-end;
}
.site-title, .site-description{
    margin: 0;
    color:#ffffff;
}
.site-description{
    font-size: 15px;
}
.site-logo{
    width: 150px;
    margin-right: 25px;
}
.nav-bar{
    border-bottom: 2px solid #a70000;
}
.nav-items{
    display: flex;
    padding: 0;
    font-size: 20px;
    color:#ffffff;
}
.nav-item{
    display: inline;
    list-style: none;
    float: left;
    margin-right: 20px;
}
.nav-item:nth-child(5){
    margin: 0;
}

#myVideo {
    width: 100%;
    z-index: -1;
  }