@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Righteous&display=swap');
* {
  box-sizing: border-box;
}
::-webkit-scrollbar {
  width: 0;
}

body{
  font-family: 'Quicksand', sans-serif;
  margin: 0;
}

h1, h2, h3, h4, h5, h6{
  font-family: 'Righteous', cursive;
}
h1{
  font-size: 50px;
}
h2{
  font-size: 35px;
}
/*header*/
header{
  margin: 0 5vw 20vh;
}

.row {
  display: flex;
}
#col_1_header{
  flex:40%;
}
#col_2_header{
  display: flex;
  flex: 60%;
  justify-content: flex-end;
}
.site-title, .site-description{
  margin: 0;
  color:#ffffff;
}
.site-description{
  font-size: 15px;
}
.site-logo{
  width: 150px;
  margin-right: 25px;
}
.nav-bar{
  border-bottom: 2px solid #a70000;
}
.nav-items{
  display: flex;
  padding: 0;
  font-size: 20px;
  color:#ffffff;
}
.nav-item{
  display: inline;
  list-style: none;
  float: left;
  margin-right: 20px;
}

.nav-item a{
  text-decoration: none;
  color:#fff;
  transition: 0.3s;
}

.nav-item a:hover{
  color: #a70000;
}
.nav-item:nth-child(5){
  margin: 0;
}

/*footer*/
.site-info-footer{
    color:black;
}

#col-1-footer, #col-2-footer, #col-3-footer{
    flex: 33.3%;
    text-align: center;
}
footer{
    margin: 7vh 5vw;
}
#col-2-footer input{
    display: block;
    margin-right: 10px;
    font-family: 'Quicksand', sans-serif;
}
.site-description-footer, .site-title-footer{
    margin:0;
}
.site-description-footer{
    font-size: 15px;
}

/*nupud*/
.button {
  transition: 0.3s;
  background-color: #a70000;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.button:hover{
    background-color: #000;
}