@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&family=Righteous&display=swap');

::-webkit-scrollbar {
    width: 0;
}

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
}

h1, h2, h3, h4, h5, h6{
    font-family: 'Righteous', cursive;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 35px;
}
header{
    position: relative;
    margin-bottom: 20vh;
}
header > .row{
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%);
    width: 90%;
    z-index: 1;
}
.row {
    display: flex;
    align-items: center;
}
#col_1_header{
    flex:40%;
    display: flex;
    align-items: center;
}
#col_2_header{
    display: flex;
    flex: 60%;
    justify-content: flex-end;
}
.site-title, .site-description{
    margin: 0;
    color:#ffffff;
}
.site-description-footer, .site-title-footer{
    margin:0;
}
.site-description-footer{
    font-size: 15px;
}
.site-description{
    font-size: 15px;
}
.site-logo{
    width: 150px;
    margin-right: 25px;
}
.nav-bar{
    border-bottom: 2px solid #a70000;
}
.nav-items{
    display: flex;
    padding: 0;
    font-size: 20px;
    color:#ffffff;
}
.nav-item{
    display: inline;
    list-style: none;
    float: left;
    margin-right: 20px;
    transition: 0.3s;
}

.nav-item a{
    text-decoration: none;
    color:#fff;
    transition: 0.3s;
}

.nav-item a:hover{
    color: #a70000;
}

.nav-item:hover{
    transform: scale(1.1);
}

.nav-item:nth-child(5){
    margin: 0;
}

#myVideo {
    width: 100%;
    z-index: -1;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

* {
  box-sizing: border-box;
}

/* Create three columns of equal width */
.columns {
    flex: 33.3%;
    padding: 8px;
}

/* Style the list */
.price {
  list-style-type: none;
  box-shadow: 0 0 8px 1px rgba(20, 20, 20, 0.8);
  margin: 0;
  padding: 0;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

/* Add shadows on hover */
.price:hover {
  box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
  transform: scale(1.15);
  z-index: 2;
}

/* Pricing header */
.price .price-header {
  background-color: #a70000;
  color: white;
  font-size: 25px;
  font-weight: 700;
}

/* List items */
.price li {
  padding: 20px;
  text-align: center;
  background-color: #fff;
}

/* Grey list item */
.price .grey {
  background-color: #111;
  font-size: 20px;
  color:#fff;
}

/* The "Sign Up" button */
.button {
    transition: 0.3s;
  background-color: #a70000;
  border: none;
  color: white;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
}
.button:hover{
    background-color: #000;
}
.hinnakiri{
    margin: 0 5vw 20vh;
}
.hinnakiri h1, .kluubid h1{
    text-align: center;
}
.kluubid h1{
    background-color: #a70000;
    margin: 0;
    color: #fff;
}
.site-info-footer{
    color:black;
}

#col-1-footer, #col-2-footer, #col-3-footer{
    flex: 33.3%;
    text-align: center;
}
footer{
    margin: 7vh 5vw;
}
#col-2-footer input{
    display: block;
    margin-right: 10px;
    font-family: 'Quicksand', sans-serif;
}